*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.nav{
    width: 90%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,1);
}
.header{
    background-color: #e0e0e0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}